<form class="example-form" id="register" (ngSubmit)="funreg()" >
    <h3>Registeration Form</h3>
    <mat-form-field class="example-full-width">
      <input name="name" matInput required [(ngModel)]="reg.name" color="primary" placeholder="Name">
        <!-- <div *ngIf="name.invalid" class="errors">
          <div *ngIf="name.errors.required">
            Name is required
          </div>
      </div> -->
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input name="email" matInput required [(ngModel)]="reg.email" color="primary" placeholder="Email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input name="contact" matInput [(ngModel)]="reg.contact" color="primary" placeholder="Contact">
    </mat-form-field>
    <section class="example-section">
      <label class="example-margin">Gender :</label>
      <mat-radio-group name="gender" [(ngModel)]="reg.gender">
        <mat-radio-button class="example-margin" value="Male">Male</mat-radio-button>
        <mat-radio-button class="example-margin" value="Female">Female</mat-radio-button>
      </mat-radio-group>
    </section>
  
    <mat-form-field>
      <input matInput [matDatepicker]="picker" name="dob" [(ngModel)]="reg.dob" placeholder="Date of Birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Country" name="country" [(ngModel)]="reg.country">
        <mat-option *ngFor="let cnm of country" [value]="cnm.value">
          {{ cnm.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input name="city" matInput required [(ngModel)]="reg.city" color="primary" placeholder="City">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea name="address" matInput color="primary" [(ngModel)]="reg.address" placeholder="Address"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input name="pincode" matInput required [(ngModel)]="reg.pincode" color="primary" placeholder="Pincode">
    </mat-form-field>
  
    <section class="example-section">
      <label class="example-margin">Language :</label>
      <mat-checkbox class="example-margin" name="language[]" value="English" [(ngModel)]="reg.language">English</mat-checkbox>
      <mat-checkbox class="example-margin" name="language[]" value="Hindi" [(ngModel)]="reg.language" >Hindi</mat-checkbox>
    </section>
    <mat-form-field class="example-full-width">
        <textarea name="description" matInput color="primary" [(ngModel)]="reg.description" placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input name="password" matInput required [(ngModel)]="reg.password" color="primary" placeholder="Password">
    </mat-form-field>
    <div class="button-row">
        <button mat-raised-button color="primary" name="submit">Submit</button>
    </div>
  </form>