.example-form {
    min-width: 50px;
    max-width: 500px;
    margin:10px 450px;
    padding: 10px;
    border:1px solid #c6c6c6;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
  }
  .example-full-width {
    width: 100%;
  }
  
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  .errors{
    color: #cc0000;
  }