<form class="example-form" (ngSubmit)="funlogin()" id="login">
    <h3>User Login</h3>
    <mat-form-field class="example-full-width">
      <input name="username" matInput required [(ngModel)]="lo.username" color="primary" placeholder="Username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input name="password" matInput required [(ngModel)]="lo.password" color="primary" placeholder="Password">
    </mat-form-field>
    <div class="button-row">
        <button mat-raised-button color="primary" name="submit">Submit</button>
    </div>
</form>

<exercise></exercise>