<div>
    <form class="example-form" (ngSubmit)="funexe()" method="post">
       <!-- <mat-form-field class="example-full-width">
            <input matInput required menus [menucolor]="'menubg'" name="first" [(ngModel)]="Exe.first" placeholder="First" >
        </mat-form-field>
        <mat-form-field class="exmple-full-width">
            <input matInput required [menus]="'menubg'" name="second" [(ngModel)]="Exe.second" placeholder="Second">
        </mat-form-field>
        <div class="button-row">
            <button mat-raised-button color="primary" name="submit">Submit</button>
        </div> -->
    </form>
    {{result}}
</div>