<div>
    <h3>{{selprolist.name}}</h3>
    <p><b>{{selprolist.brand}}</b></p>
    <p><b>Rs. {{selprolist.price}}</b></p>
    <p>{{selprolist.description}}</p>
    <p>{{dob | date:'shortDate'}}</p>
    <p>{{dob | date:'fullDate' | uppercase}}</p>
    <p>{{dob | date:'dd/MM/yy'}}</p>
    <p>{{dob | date:'MM'}}</p>
<div (click)="toggleBool()" [@st] class="ex" *ngIf="bolvar">A</div>


</div>