<div style="width:100%; border-bottom:1px solid #ccc; height:45px;">
<div style="float:left">
<button mat-button menus>Home</button>
<button mat-button menus>Company Profile</button>
<button mat-button menus>Service</button>
<button mat-button [matMenuTriggerFor]="menu" (click)="funnproduct()" menus>Our Product</button>
<mat-menu #menu="matMenu" class="menu" >
  <ul>
    <li *ngFor="let proname of Prolist" menus><button mat-menu-item (click)="funprodetail(proname.id)">{{proname.name}}</button></li>
  </ul>
  
</mat-menu>
<button mat-button menus>Inquiry</button>
<button mat-button menus>Contact Us</button>
</div>
<div style="float:right">
<button mat-button (click)="funnavigate('login')">Login</button>
<button mat-button (click)="funnavigate('register')">Register</button>
</div>
</div>