:host{
    background: #FA8F01;
}
.example-form {
    min-width: 50px;
    max-width: 500px;
    width: 100%;
}
.example-full-width {
    width: 100%;
}
.foot{ 
    width:30%;
    display: inline-grid;
    padding: 10px;
}