<div class="foot">

<ul>
    <li *ngFor="let s of a">{{s}}</li>
</ul>

                <h3>About Shree Bhagawati Brass Product</h3><br>
                <P>SHREE BHAGAWATI BRASS PRODUCT is related with Manufacturer and Supplier of All Type of Brass Products and selling business of various kind of high quality brass products and components.</P>
            </div>
            <div class="foot">
                <h3>Useful Link</h3>
                <ul>
                    <li>Home</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="foot">
                <h3>Quick Inquiry</h3>
                <form class="example-form" (ngSubmit)="funsubmit()">
                        <mat-form-field class="example-full-width">
                          <input name="name" matInput required [(ngModel)]="inq.name" color="primary" placeholder="Name">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input name="email" matInput [(ngModel)]="inq.email" color="primary" placeholder="Email">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                                <input name="contact" matInput [(ngModel)]="inq.contact" color="primary" placeholder="Contact">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea name="message" matInput [(ngModel)]="inq.message" color="primary" placeholder="Message"></textarea>
                        </mat-form-field>
                        <div class="button-row">
                            <button mat-raised-button color="primary" name="submit">Submit</button>
                        </div>
                    </form>
        </div>