<div class="products"  *ngFor="let prolist of productli">
        <h3 (click)="funprodetail(prolist.id)" style="text-align:left;">Product Name : {{prolist.name | uppercase}}</h3>
        <p style="text-align:left;"><b>Description :</b> {{prolist.description}}</p>
        <p style="text-align:left;"><b>Brand : </b>{{prolist.brand | mypipe}}</p>
        <p (click)="funntoggle()">Price :</p>
        <div [@st] class="price"  *ngIf="titleheading">
                <p mystyle><b>Price : </b> {{prolist.price | currency: 'INR'}}</p>
        </div>

       <!-- <p>Without Directive</p>
        <p mystyle>With Directive</p> -->
</div>
