.products{
    width: 30%;
    border: 2px solid #efefef;
    display: inline-block;
    margin-right: 3px;
    padding: 10px;
}
.products:last-child{
    margin-right: 0px;
}
.price{
    background: #eee;
    width: 100%;
    height: auto;
}